.input-text{
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
}

.formulario{
    margin-top: 20px;
    margin-bottom: 20px;
}

.button{
    display: flex;
    align-items: center;
    justify-content: center;
}