.div-Header{
    background-color: #CCEBD8;
    padding: 30px;
}

.header{
    text-align: center;
    color: #A90139;
    font-family: "Krub", Sans-serif;
    font-size: 25px;
    font-weight: 700;
    line-height: 58.5px;
}